body{

margin:0;
font-family:Arial;
background:black;
color:white;
overflow:hidden;

}

#universe{

position:fixed;
top:0;
left:0;
z-index:-1;

}

.panel{

position:absolute;
top:80px;
left:80px;

background:rgba(0,20,40,0.85);

padding:30px;
border-radius:10px;

width:320px;

}

input{

width:100%;
margin-top:10px;
padding:10px;
background:#001f3f;
border:0;
color:white;

}

button{

width:100%;
margin-top:10px;
padding:12px;

background:linear-gradient(90deg,#3bc1ff,#3bff9e);

border:0;
color:black;
font-weight:bold;

}

.graph{

position:absolute;
bottom:60px;
left:80px;
width:320px;

}

.footer{

position:absolute;
bottom:10px;
right:30px;
opacity:0.6;

}
