body {
  background: radial-gradient(circle, #0a0f1f, #000);
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.logo {
  width: 80px;
}

.card {
  background: #1c2233;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}

.emergency {
  border: 2px solid red;
}

input {
  width: 80%;
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  background: #3b82f6;
  border: none;
  color: white;
  border-radius: 5px;
}
