<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>KING DIADEM UI</title>

<style>
body {
  background: radial-gradient(circle, #020611, #000);
  color: cyan;
  font-family: monospace;
  text-align: center;
}

.title {
  font-size: 60px;
  margin-top: 100px;
  text-shadow: 0 0 30px cyan;
}

.card {
  margin: 50px auto;
  padding: 30px;
  width: 400px;
  border: 1px solid cyan;
  box-shadow: 0 0 30px cyan;
}

button {
  padding: 15px;
  width: 100%;
  background: cyan;
  border: none;
  cursor
